@import "tailwindcss";

:root {
  --background: #FAFAF9;
  --foreground: #292524;
  --primary: #22C55E;
  --primary-hover: #16A34A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
}
